<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JulyProj</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>



	<servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>LogInDB.DBCInit</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>LogInaction.ControllerUsingURI</servlet-class>
		<init-param>
			<param-name>login_propertyConfig</param-name>
			<param-value>C:\Users\user1\git\semi\HoneyComb\WebContent\WEB-INF\properties\Login.properties</param-value>
		</init-param>
	</servlet>
	 <servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.coin</url-pattern>
	</servlet-mapping>
	
	
	 <servlet>
		<servlet-name>com_Controller</servlet-name>
		<servlet-class>Com_controll.Controller</servlet-class>
		<init-param>
			<param-name>com_Controller</param-name>
			<param-value>C:\Users\user1\git\semi\HoneyComb\WebContent\WEB-INF\properties\honeyCombHandler.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>com_Controller</servlet-name>
		<url-pattern>*.company</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>cloud_Controller</servlet-name>
		<servlet-class>cloudaction.CloudController</servlet-class>
		<init-param>
			<param-name>cloud_Controller</param-name>
			<param-value>C:\Users\user1\git\semi\HoneyComb\WebContent\WEB-INF\properties\cloudHandler.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cloud_Controller</servlet-name>
		<url-pattern>*.cloud</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>admin_Controller</servlet-name>
		<servlet-class>com_complete.Complete_Controller</servlet-class>
		<init-param>
			<param-name>com_Controller</param-name>
			<param-value>C:\Users\user1\git\semi\HoneyComb\WebContent\WEB-INF\properties\admin_accept_com.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>admin_Controller</servlet-name>
		<url-pattern>*.admin</url-pattern>
	</servlet-mapping>
	
	
</web-app>
